Repository voxpupuli/puppet-opensearch_dashboards, pull requests merged in 2023-08, with the labels that each got.

#1 Fix installation from archive
  manifests/install/archive.pp
  manifests/service.pp
  spec/acceptance/default_spec.rb
  spec/classes/init_spec.rb
  spec/helper/get_defaults.rb
  spec/shared_examples/install_archive.rb
  spec/shared_examples/install_package.rb
  spec/shared_examples/service.rb
  templates/opensearch-dashboards.service.epp
Labels: bug

#2 Release 1.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#4 modulesync 7.0.0
  .msync.yml
  Gemfile
Labels: modulesync
